*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    box-sizing: border-box;
    max-height: 1922px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background: white;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    color: #000000;
}


/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #000000;
  transition: all 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 20px 30px #1d1c1c50;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:  relative;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  height: 56px;
}

.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.navbar li{
  list-style: none;
  display: inline-block;
}

.menu{
  flex: 1;
  display: flex;
}

.logo{
  height: 35px;
  width: fit-content;
}

.itinerary{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.itinerary-btn-box {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  width: 85px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.itinerary-btn-box:hover {
  background: #555555;
}

.itinerary-btn-box a {
    color: #ffffff; 
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

.itinerary-btn {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 10px;
    transition: background 0.3s ease;
}

nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}

nav ul li a{
  color: #000000;
  align-self: center;
  text-decoration: none;
  position: relative;
}


.dashboard-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.dashboard-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

.popular-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
  text-align: center;
}

.popular-container {
  padding-top: 120px;
  text-align: center;
}

.subtitle-container{
  text-align: center;
  padding-top: 10px;
  font-weight: 300;
}

.popular-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-left: 400px;
  padding-right: 400px;
}

.popular-card-r1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popular-card-r1 {
  flex: 1;
  margin: 10px;
}

.popular-card-r2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popular-card-r2 {
  flex: 1;
  margin: 10px;
}


.tour-package-container{
  display: flex;
  justify-content: space-around;
  padding: 50px 340px;
}

.tour-package-card{
  display: flex;
  display: inline-block;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-overlay {
  position: absolute;
  top: 120px; 
  left: 135px;
  color: white; 
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.costquest-logo-card{
  position: absolute;
  top: 60px; 
  left: 280px;
}

.tour-package-btn {
  position: absolute;
  top: 235px; 
  left: 200px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.tour-package-btn:hover {
  background: #a1a1a1;
}

.search-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 20px 30px #1d1c1c50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.search-container form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-textbox {
  margin-right: 10px;
}

.search-textbox input {
  width: 500px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.search-btn, .filter-btn {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: none;
  transition: background 0.3s ease;
}

.search-btn:hover, .filter-btn:hover {
  background-color: rgb(87, 87, 87);
}

.search-btn img, .filter-btn img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.settings-box {
  background: #ffffff;
  padding: 60px;
  width: 700px;
  text-align: left;
  margin: 0 auto;
}

.settings-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

.budget-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  text-align: center;
}

.hello-card {
  margin-bottom: 20px;
  width: 1200px;
  text-align: left;
  font-size: 23px;
}

.budget-box {
  text-align: center;
  background-color: #52A3EE;
  width: 1200px;
  height: 383px;
  border-radius: 20px;
}

.budget-summary-rows{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
}

.budget-title {
  font-size: 50px;
  font-weight: 700;
}

.edit-budget-btn {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  width: 130px;
  height: 40px;
  color: #ffffff;
  border: none;
  transition: background 0.3s ease;
}

.edit-budget-btn:hover {
  background: #555555;
}

.budget-price{
  font-size: 30px;
  font-weight: 700;
  padding-top: 15px;
}

.budget-percentage {
  font-size: 30px;
  font-weight: 700;
  color: #00000060;
}


.progress-bar-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important;
  border-radius:8px;
  width: 100%;
  height: 20px;
}

.progress-bar-status{
  padding:0.01em 16px;
  border-radius:8px;
  background-color:#000000;
  width: 10%;
  height: 20px;
}

.budget-limit{
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
  height: 100px;
  width: 200px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  display: inline;
}

.budget-limit-textbox{
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
  height: 100px;
  width: 200px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  border: none;
  display: none;
}

.budget-limit-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.title-row{
  display: flex;
  justify-content: space-between;
}

.del-btn{
  cursor: pointer;
  padding-top: 20px;
  color: #00000056;
  font-size: 15px;

  transition: background 0.3s ease;
}

.del-btn:hover {
  color: #000000;
  text-decoration: underline;
}

.login-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.login-box, .email-box, .password-box{
  background: #ffffff;
  padding: 60px;
  width: 700px;
  text-align: left;
  margin: 0 auto;
}

.login-box h1, .email-box h1, .password-box h1 {
  margin-bottom: 20px;
}

.name-row {
  display: flex;
  justify-content: space-between;
}

.name-row .textbox {
  flex: 1;
  margin-right: 10px;
}

.name-row .textbox:last-child {
  margin-right: 0;
}

.textbox {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.textbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.label {
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
}

.styled-dropdown {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s ease;
  text-align: center;
  text-align-last: center;
  
}

.styled-dropdown:focus {
  border-color: #555;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group .textbox {
  width: 100%;
  max-width: 296px; 
}

.form-label {
  margin-right: 10px;
}

.spacing {
  margin-bottom: 160px;
}

.btn {
  width: 100%;
  background: #000000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #555555;
}

.logout-btn{
  width: 100%;
  border: none;
  background-color: #D33C3D;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background: #962D2E;
}

.non-textbox{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-btn{
  cursor: pointer;
  color: #2600ff;
  font-size: 15px;
  transition: background 0.3s ease;
}

.edit-btn:hover {
  text-decoration: underline;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust as needed */
}

.cancel-btn {
  width: 284px; 
  padding: 10px;
  font-size: 16px; 
  background-color: #D33C3D; 
  color: white; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}
.cancel-btn:hover {
    background-color: #722121; /* Adjust the hover background color as needed */
}

.confirm-btn {
  width: 284px; 
  padding: 10px;
  font-size: 16px; 
  background-color: #00aa0e; 
  color: white; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}
.confirm-btn:hover {
    background-color: #00700a; /* Adjust the hover background color as needed */
}

/* Footer */
footer {
  text-align: center;
  background: url('../icons/Footer.png') no-repeat center center;
  background-size: cover;
  padding: 10px 0;
  width: 100%;
  height: 100px;
  color: #ffffff;
  margin-top: 68px;
}

footer h4 {
  margin: 35px; 
  color:  #ffffff; 
  text-align: center;
}

.footer-search{
  text-align: center;
  background: url('../icons/Footer.png') no-repeat center center;
  background-size: cover;
  padding: 10px 0;
  margin-top: 700px;
  width: 100%;
  height: 100px;
  color: #ffffff;
}

.footer-search h4 {
  margin: 35px; 
  color:  #ffffff; 
  text-align: center;
}
