*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;

    box-sizing: border-box;
    max-height: 1922px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    color: #000000;
}


/* navbar styling */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #000000;
  /* box-shadow: 0 20px 30px #bbb8b850; */
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  /* make the logo centered on the left */
  display: flex;
  align-items: center;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.menuright {
  padding-right: 30px;
  list-style: none;
  display: inline-block;
}

.navbar .menu li a{
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-left: 2px;
  transition: color 0.3s ease;
}

.navbar.sticky .menu li a:hover{
  color: #fff;
}

.logo{
  height: 35px;
  width: fit-content;
  padding-left: 40px; 
}

/* menu btn styling */
.menu-btn{
  color: #000000;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.container{
  padding: 5px 1%;
}

nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #000000;
  align-self: center;
  text-decoration: none;
  font-size: 25px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

.hamburger{
  display: none;
  cursor: pointer;
  padding-right: 35px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

